<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LONGTRNNMSSQLSERVER01DSV" connectionString="XpoProvider=MSSqlServer;data source=LONGTRNN\MSSQLSERVER01;integrated security=SSPI;initial catalog=DSV" />
    <add name="DMDS.Properties.Settings.DSVConnectionString" connectionString="Data Source=LONGTRNN\MSSQLSERVER01;Initial Catalog=DSV;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DSVConnectionString" connectionString="XpoProvider=MSSqlServer;data source=LONGTRNN\MSSQLSERVER01;integrated security=SSPI;initial catalog=DSV" />
    <add name="DSVConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=LONGTRNN\MSSQLSERVER01;integrated security=SSPI;initial catalog=DSV" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>