USE [master]
GO
/****** Object:  Database [DSV]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE DATABASE [DSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\DSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\DSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSV]
GO
/****** Object:  User [LONGTRNN\sa]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE USER [LONGTRNN\sa] FOR LOGIN [LONGTRNN\sa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [1]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE USER [1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[1]
GO
/****** Object:  DatabaseRole [USER]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE ROLE [USER]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_DDA27419351643C7AA3CC8F13DBD432C]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE ROLE [MSmerge_DDA27419351643C7AA3CC8F13DBD432C]
GO
/****** Object:  DatabaseRole [MSmerge_B050C977276D4683AC6263E0AE740997]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE ROLE [MSmerge_B050C977276D4683AC6263E0AE740997]
GO
/****** Object:  DatabaseRole [MSmerge_186A87B655B542D59B750548EE17ADDE]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE ROLE [MSmerge_186A87B655B542D59B750548EE17ADDE]
GO
/****** Object:  DatabaseRole [ADMIN]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE ROLE [ADMIN]
GO
ALTER ROLE [db_owner] ADD MEMBER [LONGTRNN\sa]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_DDA27419351643C7AA3CC8F13DBD432C]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B050C977276D4683AC6263E0AE740997]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_186A87B655B542D59B750548EE17ADDE]
GO
/****** Object:  Schema [1]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE SCHEMA [1]
GO
/****** Object:  Schema [ADMIN]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE SCHEMA [ADMIN]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 5/4/2021 9:19:35 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[username] [nvarchar](10) NOT NULL,
	[password] [nvarchar](40) NOT NULL,
	[displayname] [nvarchar](40) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](12) NOT NULL,
	[MAMH] [char](6) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MAKH] [char](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [char](12) NOT NULL,
	[NIENKHOA] [nvarchar](50) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[SOTIENDADONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](4) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](200) NULL,
	[MAKH] [char](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](6) NOT NULL,
	[TENMH] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](12) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[MALOP] [char](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[GHICHU] [ntext] NULL,
	[NGHIHOC] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([username], [password], [displayname]) VALUES (N'admin', N'1', N'Trần Bảo Long')
INSERT [dbo].[ACCOUNT] ([username], [password], [displayname]) VALUES (N'dev', N'1', N'Phan Văn Hiếu')
INSERT [dbo].[ACCOUNT] ([username], [password], [displayname]) VALUES (N'test', N'1', N'Đặng Huỳnh Long')
GO
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'08VTA101    ', N'CSDLPT', 1, 7, N'48cd759d-5e5c-ea11-ac8b-2047472e644d')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'08VTA101    ', N'LTM   ', 1, 4, N'3d1187de-605c-ea11-ac8b-2047472e644d')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'08VTA101    ', N'LTM   ', 2, 9, N'3f1187de-605c-ea11-ac8b-2047472e644d')
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV01      ', N'NGUYEN HONG', N'SON       ', N'CNTT', N'2fcb04ce-9e4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV02      ', N'TRUONG DINH', N'HUY       ', N'CNTT', N'30cb04ce-9e4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV03      ', N'NGUYEN XUAN', N'KHANH     ', N'VT  ', N'31cb04ce-9e4f-ea11-ac88-b46d83a05351')
GO
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [SOTIENDADONG], [rowguid]) VALUES (N'08VTA101    ', N'2015-2016', 1, 1500000, 1500000, N'd0eeb142-9f4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [SOTIENDADONG], [rowguid]) VALUES (N'08VTA101    ', N'2015-2016', 2, 1500000, 1500000, N'd1eeb142-9f4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [SOTIENDADONG], [rowguid]) VALUES (N'08VTA101    ', N'2016-2017', 1, 1500000, 1500000, N'd2eeb142-9f4f-ea11-ac88-b46d83a05351')
GO
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'asd ', N'asdasd', N'6ebf32e9-2fac-eb11-bd9f-dcfb485ee9c2')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'CNTT', N'Công nghệ thông tin', N'29cb04ce-9e4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'test', N'test', N'22ed2235-1dac-eb11-bd9f-dcfb485ee9c2')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'asd     ', N'asdfsdfsdfasd', N'test', N'fd9fead7-21ac-eb11-bd9f-dcfb485ee9c2')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D07VTA1 ', N'Đại học chính quy 1 Viễn thông kháo 2007', N'VT  ', N'3ecb04ce-9e4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D08VTA1 ', N'Đại học chính quy 1  Viễn thông Khóa 2008', N'VT  ', N'3ccb04ce-9e4f-ea11-ac88-b46d83a05351')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'asd   ', N'asdasdasd', N'22bff76a-22ac-eb11-bd9f-dcfb485ee9c2')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL  ', N'Cơ sở dữ liệu', N'2ccb04ce-9e4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDLPT', N'Cơ sở dữ liệu phân tán', N'2dcb04ce-9e4f-ea11-ac88-b46d83a05351')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA101    ', N'Nguyễn Thanh', N'Hằng', N'D08VTA1 ', 1, CAST(N'1975-12-07T00:00:00.000' AS DateTime), N'Hà Nội', N'11 Lê Văn Sỹ', N'', 0, N'47cb04ce-9e4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA102    ', N'Võ Văn', N'Phát', N'D08VTA1 ', 1, CAST(N'1976-05-05T00:00:00.000' AS DateTime), N'Phú Yên', N'234 Phan Văn Lê', N' ', 0, N'4dcb04ce-9e4f-ea11-ac88-b46d83a05351')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'09THA101    ', N'Lê Thị', N'Vân', N'D16CQC1 ', 0, CAST(N'1976-06-06T00:00:00.000' AS DateTime), N'Hà Nội', N'Ngô Quyền', N' ', 0, N'52cb04ce-9e4f-ea11-ac88-b46d83a05351')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENLOP]    Script Date: 5/4/2021 9:19:35 AM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MONHOC]    Script Date: 5/4/2021 9:19:35 AM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM] ADD  CONSTRAINT [MSmerge_df_rowguid_31CBB4192A4A42AC8113A335F08B63C4]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_8D1DF4D3A7374AC68C5CD3B4D7DB6241]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_SOTIENDADONG]  DEFAULT ((0)) FOR [SOTIENDADONG]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_F60269DC1F784642ACA53A0D730FD6B9]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_D379B85747C84DD59CC6FF3C0B125BFF]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_C1CD5F27E45C41FAA50B39149412F5B0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_ABB9FE49FAE542358E53623D6ABCE1BE]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_F74A5FD0344049A489A6A8D2C98B0895]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC1]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK  (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_BDMH]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BDMH] @malop NVARCHAR(10), @mamh NVARCHAR(10),  @lan SMALLINT
AS
BEGIN
	
		SELECT HoTen = SV.HO + ' ' + SV.TEN, D.MASV, CONVERT(VARCHAR(5), D.DIEM) AS DIEM
		FROM  (SELECT MASV, DIEM FROM dbo.DIEM WHERE MAMH = @mamh AND LAN = @lan)  D
		INNER JOIN
		(SELECT MASV, HO, TEN FROM dbo.SINHVIEN  WITH (INDEX=IX_MALOP_TEN) WHERE MALOP = @malop AND NGHIHOC = 'false') SV
		ON D.MASV = sv.MASV
		ORDER BY TEN, HO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKIDHOCPHI]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKIDHOCPHI] @masv NVARCHAR(10), @nienkhoa NVARCHAR(14), @hoky SMALLINT

AS
BEGIN
	
	IF EXISTS (SELECT * FROM dbo.HOCPHI WHERE MASV = @masv AND NIENKHOA = @nienkhoa AND HOCKY = @hoky)
		RETURN 1 -- mã tồn tại
	RETURN 0	-- mã không tồn tại.
END



GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   ROLENAME=NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_DSSV_MH]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DSSV_MH] @malop NVARCHAR(10)
AS
BEGIN
		
		SELECT HoTen = (sv.HO + ' ' + sv.TEN) , MASV, DIEM = ''
		FROM  dbo.SINHVIEN sv
		WHERE sv.MALOP = @malop AND sv.NGHIHOC = 'false'
		ORDER BY sv.TEN, sv.HO

END



GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DIEM]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_DIEM]  
@MASV NVARCHAR(12),  
@MAMH NVARCHAR(10),  
@LAN  smallint,  
@DIEM float  
AS  
BEGIN  
            IF EXISTS (SELECT 1 FROM DIEM WHERE MASV=@MASV AND MAMH=@MAMH AND LAN=@LAN)  
                BEGIN  
					IF (@LAN < 2)
						BEGIN
							INSERT INTO DBO.DIEM (MASV, MAMH, LAN, DIEM)  
							VALUES (@MASV, @MAMH, @LAN + 1, @DIEM)  
						END
					ELSE
						BEGIN
							UPDATE DBO.DIEM
							SET DIEM = @DIEM
							WHERE MASV = @MASV AND MAMH = @MAMH AND LAN = @LAN
						END
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.DIEM (MASV, MAMH, LAN, DIEM)  
                    VALUES (@MASV, @MAMH, @LAN, @DIEM)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_KHOA]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_KHOA]  
@MAKH CHAR(4),
@TENKH NVARCHAR(50)
AS
BEGIN  
            IF EXISTS (SELECT 1 FROM KHOA WHERE MAKH=@MAKH)  
                BEGIN  
                    UPDATE KHOA  
                    SET MAKH=@MAKH, TENKH=@TENKH   
                    WHERE MAKH=@MAKH
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.KHOA(MAKH,TENKH)  
                    VALUES (@MAKH, @TENKH)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_LOP]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_LOP]  
@MALOP CHAR(4),
@TENLOP NVARCHAR(50),
@MAKH CHAR(4)
AS
BEGIN  
            IF EXISTS (SELECT 1 FROM LOP WHERE MALOP=@MALOP)  
                BEGIN  
                    UPDATE LOP  
                    SET MAKH=@MAKH, TENLOP=@TENLOP, MALOP=@MALOP
                    WHERE MAKH=@MAKH AND MALOP=@MALOP
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.LOP(MALOP,TENLOP, MAKH)  
                    VALUES (@MALOP, @TENLOP, @MAKH)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_MONHOC]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_MONHOC] 
@MAMH CHAR(6), 
@TENMH NVARCHAR(40)
AS  
BEGIN  
            IF EXISTS (SELECT 1 FROM MONHOC WHERE MAMH=@MAMH)  
                BEGIN  
                    UPDATE MONHOC  
                    SET MAMH=@MAMH, TENMH=@TENMH   
                    WHERE MAMH=@MAMH
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.MONHOC(MAMH,TENMH)  
                    VALUES (@MAMH, @TENMH)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SINHVIEN]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_SINHVIEN]  
@MAKH CHAR(4),
@MALOP CHAR(8),
@MASV CHAR(12),
@HO NVARCHAR(40),
@TEN NVARCHAR(10),
@PHAI BIT,
@NGAYSINH DATETIME,
@NOISINH NVARCHAR(40),
@DIACHI NVARCHAR(80),
@GHICHU NTEXT,
@NGHIHOC BIT
AS
BEGIN  
            IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV=@MASV)  
                BEGIN  
                    UPDATE SINHVIEN  
                    SET MASV=@MASV, HO=@HO, TEN=@TEN, MALOP=@MALOP,  PHAI=@PHAI,  NGAYSINH=@NGAYSINH,  NOISINH=@NOISINH,  DIACHI=@DIACHI,  GHICHU=@GHICHU,  NGHIHOC=@NGHIHOC
                    WHERE MASV=@MAKH AND MALOP=@MALOP AND MASV=@MASV
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.SINHVIEN(MASV,HO, TEN, MALOP, PHAI, NGAYSINH, NOISINH, DIACHI)  
                    VALUES (@MASV, @HO, @TEN, @MALOP, @PHAI, @NGAYSINH, @NOISINH, @DIACHI)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BDMH]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_BDMH](@MALOP NVARCHAR(15), @MAMONHOC NVARCHAR(15),@LAN INT)
AS
BEGIN
  IF EXISTS (SELECT 1 FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP)
    BEGIN
      SELECT SV.MASV ,SV.HO +' '+ SV.TEN AS HOTEN INTO #A FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP AND SV.NGHIHOC = 'false';
      SELECT D.MASV, D.MAMH, D.LAN, D.DIEM  INTO #B FROM dbo.DIEM AS D WHERE D.MAMH = @MAMONHOC AND D.LAN = @LAN;
      SELECT * FROM #A INNER JOIN #B ON #B.MASV = #A.MASV ORDER BY HOTEN
    END
  ELSE RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BDTK]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_REPORT_BDTK](@MALOP NVARCHAR(15))
AS
BEGIN
	SELECT MASV,HO +' '+TEN AS HOTEN INTO #G FROM dbo.SINHVIEN WHERE MALOP=@MALOP AND NGHIHOC='false';
	SELECT #G.MASV+'-'+#G.HOTEN AS MA_HOTEN ,DIEM,MH.TENMH FROM dbo.DIEM
		INNER JOIN #G ON #G.MASV = DIEM.MASV,dbo.MONHOC AS MH WHERE DIEM.MAMH = MH.MAMH
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSDHP]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSDHP](@MALOP NVARCHAR(15),@NIENKHOA NVARCHAR(15),@HOCKI INT)
AS
BEGIN
  IF EXISTS (SELECT 1 FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP)
  BEGIN
  SELECT MASV,HO +' '+ TEN AS HOTEN INTO #E FROM dbo.SINHVIEN WHERE MALOP = @MALOP;
  SELECT MASV, HOCPHI,SOTIENDADONG INTO #F FROM dbo.HOCPHI WHERE NIENKHOA=@NIENKHOA AND HOCKY = @HOCKI;

  SELECT #E.HOTEN, #F.HOCPHI, #F.SOTIENDADONG AS SoTienDaDong
   FROM #E INNER JOIN #F ON #F.MASV = #E.MASV ORDER BY HOTEN ASC
   END
   ELSE RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSSV]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSSV](@MALOP CHAR(15))
AS
BEGIN
	SELECT SV.HO AS HO, SV.TEN AS TEN,
	CASE
		WHEN SV.PHAI = 1 THEN 'Nam'
		WHEN SV.PHAI = 0 THEN 'Nu'
	END AS PHAI,
	 CONVERT(VARCHAR(12),SV.NGAYSINH,106) AS NGAYSINH, SV.NOISINH, SV.DIACHI FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP AND SV.NGHIHOC='false';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSTHM]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_DSTHM](@MALOP CHAR(15))
AS
BEGIN
	IF EXISTS (SELECT 1 FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP)
		BEGIN
			SELECT SV.MASV, SV.HO+' '+SV.TEN AS HOTEN FROM dbo.SINHVIEN AS SV WHERE SV.MALOP = @MALOP AND SV.NGHIHOC='false'
		END
	ELSE RETURN 1;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_PD]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_PD](@MASV NVARCHAR(15))
AS
BEGIN
	IF EXISTS (SELECT 1 FROM dbo.DIEM AS D WHERE D.MASV = @MASV)
		BEGIN
			SELECT D.MASV,D.MAMH, MAX(D.DIEM) AS DIEM INTO #C FROM dbo.DIEM AS D
				WHERE D.MASV = @MASV GROUP BY D.MASV,D.MAMH,D.DIEM;

			SELECT MH.TENMH, DEMO.DIEM FROM dbo.MONHOC AS MH INNER JOIN (SELECT * FROM #C) AS DEMO
			ON DEMO.MAMH = MH.MAMH ORDER BY MH.TENMH ASC
		END
	ELSE RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS

	-- check login , user bị trùng 
	IF EXISTS(SELECT name FROM sys.server_principals 
				WHERE TYPE IN ('U', 'S', 'G')	--U: Windows Login Accounts
				AND name NOT LIKE '%##%'		--S: SQL Login Accounts
				AND name = @LGNAME)				--G: Windows Group Login Accounts
		RETURN 1	--Trùng Login
	ELSE IF EXISTS(SELECT name FROM sys.database_principals
					WHERE type_desc = 'SQL_USER'
					AND name = @USERNAME)
		RETURN 2	--Trùng User

	-- băt đầu tạo tài khoản
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV'
  IF (@RET =1) 
     RETURN 3 -- tạo tài khoản không thành công
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1) 
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 3 -- tạo  tài khoảng không thành công
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  --THEM ROLE SECURITYADMIN DE CO QUYEN TAO TAI KHOAN
  EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'

  RETURN 0  -- THANH CONG


GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DIEM]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_DIEM]  
@MASV CHAR(12),
@MAMH CHAR(6),  
@DIEM FLOAT,
@LAN SMALLINT
AS  
BEGIN  
            IF EXISTS (SELECT 1 FROM DIEM WHERE MASV = @MASV AND MAMH = @MAMH AND LAN = @LAN)  
                BEGIN  
                    UPDATE DIEM
                    SET DIEM = @DIEM
                    WHERE MASV = @MASV AND MAMH = @MAMH AND LAN = @LAN
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.DIEM(MASV, MAMH, LAN, DIEM)  
                    VALUES (@MASV, @MAMH, @LAN, @DIEM)   
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_KHOA]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_KHOA]  
@MAKH CHAR(4),  
@TENKH NVARCHAR(50)
AS  
BEGIN  
            IF EXISTS (SELECT 1 FROM KHOA WHERE MAKH=@MAKH)  
                BEGIN  
                    UPDATE KHOA 
                    SET TENKH = @TENKH
                    WHERE MAKH = @MAKH 
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.KHOA (MAKH, TENKH)  
                    VALUES (@MAKH, @TENKH)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LOP]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_LOP]  
@MALOP CHAR(8),  
@TENLOP NVARCHAR(50),
@MAKH CHAR(4)
AS  
BEGIN  
            IF EXISTS (SELECT 1 FROM LOP WHERE MAKH=@MAKH)  
                BEGIN  
                    UPDATE LOP
                    SET TENLOP = @TENLOP, MAKH = @MAKH
                    WHERE MAKH = @MAKH AND MALOP = @MALOP
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.LOP (MAKH, TENLOP, MALOP)  
                    VALUES (@MAKH, @TENLOP, @MALOP)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MONHOC]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_MONHOC]  
@MAMH CHAR(6),  
@TENMH NVARCHAR(40)
AS  
BEGIN  
            IF EXISTS (SELECT 1 FROM MONHOC WHERE MAMH = @MAMH)  
                BEGIN  
                    UPDATE MONHOC
                    SET TENMH = @TENMH
                    WHERE MAMH = @MAMH
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.MONHOC(MAMH, TENMH)  
                    VALUES (@MAMH, @TENMH)  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SINHVIEN]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_SINHVIEN]  
@MASV CHAR(12),  
@HO NVARCHAR(40),
@TEN NVARCHAR(10),
@MALOP CHAR(8),
@PHAI BIT,
@NGAYSINH DATETIME,
@NOISINH NVARCHAR(40),
@DIACHI NVARCHAR(80),
@GHICHU NTEXT,
@NGHIHOC BIT
AS  
BEGIN  
            IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV=@MASV)  
                BEGIN  
                    UPDATE SINHVIEN
                    SET HO = @HO, TEN = @TEN, MALOP = @MALOP, PHAI = @PHAI, NGAYSINH = @NGAYSINH, NOISINH = @NOISINH, DIACHI = @DIACHI, GHICHU = @GHICHU, NGHIHOC = @NGHIHOC
                    WHERE MASV = @MASV
                END  
            ELSE  
                BEGIN  
                    INSERT INTO DBO.SINHVIEN (MASV, HO, TEN, MALOP, PHAI, NGAYSINH, NOISINH, DIACHI, GHICHU, NGHIHOC)  
                    VALUES (@MASV, @HO, @TEN, @MALOP, @PHAI, @NGAYSINH, @NOISINH, @DIACHI, '', 'false')  
                END   
END  

GO
/****** Object:  StoredProcedure [dbo].[Xoa_Login]    Script Date: 5/4/2021 9:19:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_Login]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME

GO
USE [master]
GO
